:plain
  $.howl ({
    type: 'success', 
    title: 'Password updated', 
    content: 'Your password was successfully updated.', 
    iconCls: 'fa fa-check-square-o',
    sticky: true
  });  
  $("#user_password").val('')
  $("#user_password_confirmation").val('')
  $("#user_current_password").val('')
  $('#acc_settings_tab a[href="#profile-tab"]').tab('show')