- if @user.errors.any?
  $("#errors_password .alert ul").empty();  
  - @user.errors.full_messages.each do |m|  
    $('#errors_password .alert ul').append("<li>#{m}</li>");
  $("#errors_password").removeClass('hidden');
- else
  $("#errors_password").addClass('hidden');  
  :plain
    $.howl ({
      type: 'success', 
      title: 'Password updated', 
      content: 'Your password was successfully updated.', 
      iconCls: 'fa fa-check-square-o',
      sticky: true
    });  
    $("#user_password").val('')
    $("#user_password_confirmation").val('')
    $("#user_current_password").val('')
    $('#acc_settings_tab a[href="#profile-tab"]').tab('show')