$('#inquiery_booking .modal-body').html("#{escape_javascript render(partial: 'properties/booking_form')}");
$('#inquiery_booking .modal-header .modal-title').html("New Booking");
:plain
  Properties.init();