%h2 Properties
.panel.panel-default
  .panel-heading 
    Options here
    .pull-right
      = link_to new_property_path do
        %span.glyphicon.glyphicon-plus
        New property
  %table.table.table-striped.table-hover
    %thead
      %th Property type
      %th Name
    - @properties.each do |p|
      %tr{:id => p.id}
        %td= p.unit_type
        %td= p.name
