.page-header
  .pull-left
    %h2 
      Properties
  .pull-right#head_right
    = link_to new_property_path, :id => '#new_property_btn', :class => 'btn btn-success btn-lg' do
      %span.glyphicon.glyphicon-plus
      New property
  .clearfix
= render @properties