.row
  .col-md-3
    = render 'properties/property_side'
  .col-md-9    
    %h3 Rental History
    %hr
    .row
      .col-sm-6        
        .row
          .col-sm-6
            #dp-ex-start.input-group.date{"data-date-autoclose" => "true", "data-date-format" => "mm/dd/yyyy"}
              %input.form-control{:placeholder => "Start date"}
              %span.input-group-addon
                %i.fa.fa-calendar
            %span.help-block mm/dd/yyyy
          .col-sm-6
            #dp-ex-end.input-group.date{"data-date-autoclose" => "true", "data-date-format" => "mm/dd/yyyy"}
              %input.form-control{:placeholder => "End date"}
              %span.input-group-addon
                %i.fa.fa-calendar
            %span.help-block mm/dd/yyyy
      .col-sm-6
        %em Select a date range
    .row
      .col-md-12
        .table-responsive
          %table.table
            %thead
              %tr
                %th
                %th Guest
                %th Arrival
                %th Departure
                %th Amount
                %th
            %tbody
              %tr
                %td Owner Time
                %td Manuel Medina
                %td 09/21/2013
                %td 09/21/2013
                %td $108.35
                %td 
                  %span.label.label-success Approved
              %tr
                %td Standar
                %td Jose Jose Lopez
                %td 09/21/2013
                %td 09/21/2013
                %td $108.35
                %td 
                  %span.label.label-default Rejected
              %tr
                %td Standar
                %td Isidro Perez M.
                %td 09/21/2013
                %td 09/21/2013
                %td $108.35
                %td 
                  %span.label.label-default Rejected              