.row
  .col-md-4
    .panel.panel-default
      .panel-body
        .lead
          %center
            %strong Basic
        %table.table
          %tr
            %td 1 Property
          %tr
            %td Complete access to all the reservation's system features
          %tr
            %td Rental history
          %tr
            %td Availability chart              
          %tr
            %td Back-end booking system
          %tr
            %td All of the free plan features.
          %tr
            %td Up to 100 Properties
          %tr
            %td Manage multiple property owners
          %tr
            %td Owner Login
          %tr
            %td Easily configurable seasonal rates.
          %tr
            %td Company letters (Rental Agreement, Confirmation letter, Payment Receipts)
          %tr
            %td Properties Search   
        .row
          .col-md-1 
          = link_to 'Get Started', '', :class => 'btn btn-primary col-md-10'
          .col-md-1
  .col-md-4
    .panel.panel-default
      .panel-body
        .lead
          %center
            %strong Plus
            %sup 
              %small Recommended
        %table.table
          %tr
            %td Up to 50 Properties
          %tr
            %td Complete access to all the reservation's system features
          %tr
            %td Rental history
          %tr
            %td Availability chart              
          %tr
            %td Back-end booking system
          %tr
            %td All of the free plan features.
          %tr
            %td Up to 100 Properties
          %tr
            %td Manage multiple property owners
          %tr
            %td Owner Login
          %tr
            %td Easily configurable seasonal rates.
          %tr
            %td Company letters (Rental Agreement, Confirmation letter, Payment Receipts)
          %tr
            %td Properties Search 
        .row
          .col-md-1 
          = link_to 'Get Started', '', :class => 'btn btn-primary col-md-10'
          .col-md-1 
  .col-md-4
    .panel.panel-default
      .panel-body
        .lead
          %center
            %strong Unlimited
        %table.table
          %tr
            %td Unlimited Properties
          %tr
            %td Complete access to all the reservation's system features
          %tr
            %td Rental history
          %tr
            %td Availability chart              
          %tr
            %td Back-end booking system
          %tr
            %td All of the free plan features.
          %tr
            %td Up to 100 Properties
          %tr
            %td Manage multiple property owners
          %tr
            %td Owner Login
          %tr
            %td Easily configurable seasonal rates.
          %tr
            %td Company letters (Rental Agreement, Confirmation letter, Payment Receipts)
          %tr
            %td Properties Search
        .row
          .col-md-1 
          = link_to 'Get Started', '', :class => 'btn btn-primary col-md-10'
          .col-md-1