.row
  .col-md-4
    .panel.panel-default
      .panel-body
        .lead
          %center
            %strong Basic
            %h1 
              $ 4.99
              %small (monthly)
        %table.table
          %tr
            %td 1 Property management
          %tr
            %td Rental history
          %tr
            %td Availability chart              
          %tr
            %td Back-end booking system
          %tr
            %td Easily configurable seasonal rates.
        .row
          .col-md-1 
          = link_to 'Get Started', '', :class => 'btn btn-primary col-md-10'
          .col-md-1
  .col-md-4
    .panel.panel-default
      .panel-body
        .lead
          %center
            %strong Plus
            %sup 
              %small Recommended
            %h1
              $ 24.99
              %small (monthly)
        %table.table
          %tr
            %td Up to 50 Properties management
          %tr
            %td Rental history
          %tr
            %td Availability chart              
          %tr
            %td Back-end booking system
          %tr
            %td Manage multiple property owners
          %tr
            %td Owner Login
          %tr
            %td Easily configurable seasonal rates.
          %tr
            %td Company letters (Rental Agreement, Confirmation letter, Payment Receipts)
          %tr
            %td Properties Search 
        .row
          .col-md-1 
          = link_to 'Get Started', '', :class => 'btn btn-primary col-md-10'
          .col-md-1 
  .col-md-4
    .panel.panel-default
      .panel-body
        .lead
          %center
            %strong Unlimited
            %h1  
              $ 99.99              
              %small (monthly)
        %table.table
          %tr
            %td Unlimited Properties
          %tr
            %td Rental history
          %tr
            %td Availability chart              
          %tr
            %td Back-end booking system
          %tr
            %td Manage multiple property owners
          %tr
            %td Owner Login
          %tr
            %td Easily configurable seasonal rates.
          %tr
            %td Company letters (Rental Agreement, Confirmation letter, Payment Receipts)
          %tr
            %td Properties Search
          %tr
            %td Tools for Developers              
        .row
          .col-md-1 
          = link_to 'Get Started', '', :class => 'btn btn-primary col-md-10'
          .col-md-1