- content_for :jumbotron do
  .jumbotron#start_front
    .container
      .row
        .col-md-2                    
        .col-md-8              
          %center    
            %h1 The Most Innovative Vacation Rental Software    
            %br/     
            %p             
              Whether you are a property owner with one or more properties, or a vacation rental agency manager with many units and owners under management, Secondhouz will 
              make your vacation rental operations easier.              
            = form_tag '', :class => 'form-inline', :role => 'form' do
              .form-group
                = text_field_tag :email, '', :class => 'form-control input-lg',  :placeholder => 'Enter your email'
                = link_to 'Start Now »', new_user_registration_path,:class => 'btn btn-secondary btn-lg', :role => "button"
        .col-md-2
.clearfix        
.row{:id => 'features'}     
  %center
    .page-header 
      %h1 Features
.row
  .row
    %br/
    %br/
  .row
    .col-md-4
      %center 
        %i.fa.fa-calendar-o.fa-5x.text-primary
        %br/
        %h2 Reservation System
        %p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.    
    .col-md-4
      %center 
        %i.fa.fa-calendar.fa-5x.text-primary
        %br/
        %h2 Availability Chart
        %p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.  
    .col-md-4
      %center 
        %i.fa.fa-key.fa-5x.text-primary
        %br/
        %h2 Owner Login
        %p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
  .row
    %br/
  .row
    .col-md-4
      %center 
        %i.fa.fa-archive.fa-5x.text-primary
        %br/
        %h2 Rental History
        %p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.    
    .col-md-4
      %center 
        %i.fa.fa-money.fa-5x.text-primary
        %br/
        %h2 Seasonal Rates
        %p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.  
    .col-md-4
      %center 
        %i.fa.fa-desktop.fa-5x.text-primary
        %br/
        %h2 Vacation Rental Website
        %p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.    
%br/  
.div{:id => 'features'}     
  %center
    .page-header 
      %h1 Pricing    
.jumbotron{:id => 'pricing'}      
  %center
    %h3 Start your 14-day free trial today!
    %h4 No sign-up fees. No credit card required. No long-term commitments.
    %br/    
  = render 'pricing'
