- content_for :jumbotron do
  .jumbotron
    .container
      .row
        %h1 Start making your life easier with the most innovative Reservations System.
        %p 
          Whether you are a property owner with one or more units, or a vacational rental agency manager with many properties and owners under management, Secondhouz will 
          simplify the administration of your reservations.
        %p
          = link_to 'Start Now »', new_user_registration_path,:class => 'btn btn-primary btn-lg', :role => "button"
.row{:id => 'features'}
  .row
    %br/
    %br/
  .row
    .col-md-4
      %center 
        %i.fa.fa-calendar-o.fa-5x.text-primary
        %br/
        %h2 Reservation System
        %p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.    
    .col-md-4
      %center 
        %i.fa.fa-calendar.fa-5x.text-primary
        %br/
        %h2 Availability Chart
        %p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.  
    .col-md-4
      %center 
        %i.fa.fa-key.fa-5x.text-primary
        %br/
        %h2 Owner Login
        %p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
  .row
    %br/
  .row
    .col-md-4
      %center 
        %i.fa.fa-archive.fa-5x.text-primary
        %br/
        %h2 Rental History
        %p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.    
    .col-md-4
      %center 
        %i.fa.fa-money.fa-5x.text-primary
        %br/
        %h2 Seasonal Rates
        %p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.  
    .col-md-4
      %center 
        %i.fa.fa-desktop.fa-5x.text-primary
        %br/
        %h2 Vacational Rental Website
        %p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.    
%br/      
.jumbotron{:id => 'pricing'}      
  %center
    .page-header 
      %h1 Pricing
    %h3 Start your 14-day free trial today!
    %h4 No sign-up fees. No credit card required. No long-term commitments.
    %br/    
  = render 'pricing'
