.page-header
  .pull-left
    %h2 
      Reservations
  .pull-right#head_right
    = link_to '#', :id => 'new_reservation_btn', :class => 'btn btn-success btn-lg', 'data-toggle' => 'modal',  'data-target' => '#inquiery_booking' do
      %span.glyphicon.glyphicon-plus
      New Reservation
    = render 'booking_popup'
          
  .clearfix
