.page-header
  .pull-left
    %h2 
      Reservations
  .pull-right#head_right
    = link_to '#', :id => 'new_reservation_btn', :class => 'btn btn-success btn-lg' do
      %span.glyphicon.glyphicon-plus
      New Reservation
  .clearfix
