%center
  %h1= t '.error_404' 
  %p
    .lead 
      = image_tag('404_lego.png')
      %br
      = t '.the_page_you_were_looking_for_doesn_t_exist'
  %p
    %a{href: "/", role: "button"}= t '.go_home'
