@import "bootstrap/variables";

/* Sticky footer styles
-------------------------------------------------- */
html,
body {
  background: image-url("bg_stripe.png")repeat; 
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */

  h1,h2,h3,h4{
    font-family: $font-family-serif;    
  }
  code {
    font-size: 80%;
  }
  .page-header {
    margin-top: 10px;
  }

  .clearfix10 {
    height: 10px;
    line-height: 10px;
    clear: both;
  }

  .label {
    a {
      color: #fff;
    }
    a:hover {
      text-decoration: none;
    }
  }

  .btn-primary, .btn-success, .btn-danger, .btn-warning {
    background-image: none;
    border: none;
  }
  
  #main_spinner {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 6px solid #333333;
    border-radius: 5px;
    left: 50%;
    opacity: 0.8;
    padding: 10px;
    position: absolute;
    top: 160px;
    z-index: 99;
    display: none;
  } 
  
  /* Wrapper for page content to push down footer */
  #wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 80px;      
    .navbar-default {
      .navbar-nav { 
        .active > a {
          background-image: none;
        } 
      }
    }  
    #main_content {
      background-color: #fff;
      border-radius: 5px;
      border: 1px solid #eee;
      padding-bottom: 20px;
      .alert {
        margin-top: 20px;
      }
      #head_right {
        margin-top: 20px;
      }
    }    
  }

  /* Set the fixed height of the footer here */
  #footer {
    height: 60px;
    background-color: #0f0f0f;
    .container {
      padding-left: 15px;
      padding-right: 15px;      
      .text-muted {
        margin: 20px 0;
      }
    }
  }
}

/* tablets and phones */
@media (max-width: $screen-sm-max) { 
  body {
    #wrap {
      .navbar-default {
        .navbar-nav { 
          .dropdown {
            .dropdown-header {
              color: #fff;
            }
          }
        }
      }   
    }
  }
}