.btn-primary, .btn-success, .btn-danger {
  background-image: none;
  border: none;
}

//properties
.properties {
  #main_content {
    #head_right {
      margin-top: 20px;
    }
  }
}

//property rates
.properties_rates {
  hr {
    margin: 10px 0;
  }
  .ratelns {
    padding: 5px 0;
  }
}

//property pictures
.properties_pictures {
  #pic_list {
    margin-top: 20px;
    .prop_pic{
      float: left;
      margin-right: 10px;
      height: 210px;
    }
  }  
}

//properties form
.properties_new, .properties_create, .properties_edit, .properties_update {
  #main_content {
    .property_form {
      .prop_sect {
        .row:first-child {
          margin-bottom: 10px;
        }
      }
      #rental_details {
        .time_select_group {
          select {
            width: 47%;
            display: inline;
          }
        }
        .checkbox {
          margin-top: 30px;
        }        
      }
    }
  }
}

//properties listing
.properties_index {
  #main_content {
    .property_item {
      width: 49%;
      float: left;
      .no_img_placer {
        height: 76px;
        margin: 0;
        padding: 16px 6px;
        text-align: center;
        width: 100px;
        a:hover {
          text-decoration: none;
        }
      }
    }
    .property_item:nth-child(2n) {
      margin-right: 15px;
    }    
  }
}



/* tablets and phones */
@media (max-width: $screen-sm-max) { 
.properties_index {
  #main_content {
    .property_item {
      width: 100%;
      margin: 0;
      margin-bottom: 10px;
    }
  }
}
}