//property rates
.properties_rates {
  hr {
    margin: 10px 0;
  }
  .ratelns {
    padding: 5px 0;
  }
}

//property pictures
.properties_pictures {
  #pic_list {
    margin-top: 20px;
    .prop_pic{
      float: left;
      margin-right: 10px;
      height: 210px;
    }
  }  
}

//Token Input
div.token-input-dropdown-facebook{
  font-size: 12px;  
}
ul.token-input-list-facebook,
li.token-input-token-facebook {
  font-size: 16px;
  font-family:  "Source Sans Pro",​sans-serif;
  font-weight: normal;
}

//properties form
.properties_new, .properties_create, .properties_edit, .properties_update {
  #main_content {
    .property_form {
      ul.token-input-list-facebook {        
        background-color: #FFFFFF;
        background-image: none;
        border: 1px solid #CCCCCC;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        color: #555555;
        display: block;        
        height: 36px;
        line-height: 1.42857;
        padding: 6px 12px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        vertical-align: middle;
        width: 100%;
      }
      .prop_sect {
        .row:first-child {
          margin-bottom: 10px;
        }
      }
      #rental_details {
        .time_select_group {
          select {
            width: 47%;
            display: inline;
          }
        }
        .checkbox {
          margin-top: 30px;
        }        
      }
    }
  }
}

//properties listing
.properties_index {
  #main_content {
    .property_item {
      width: 49%;
      float: left;
      .no_img_placer {
        height: 76px;
        margin: 0;
        padding: 16px 6px;
        text-align: center;
        width: 100px;
        a:hover {
          text-decoration: none;
        }
      }
    }
    .property_item:nth-child(2n) {
      margin-right: 15px;
    }    
  }
}



/* tablets and phones */
@media (max-width: $screen-sm-max) { 
.properties_index {
  #main_content {
    .property_item {
      width: 100%;
      margin: 0;
      margin-bottom: 10px;
    }
  }
}
}