//Reservations
.reservations {
  #main_content {
    .page-header {
      border: 0;
    }
    #inquiery_booking {      
      .modal-dialog > .modal-content > .modal-body {
        #inquiery_booking_form {
          .alert{
            margin-bottom: 0;
          }                    
        }
        #inquiery_booking_form_tenant {
          .nav-tabs {
            .active {
              font-weight: bold;
              a{
                background-color: #eee;
              }              
            }
          }
          .tab-content {
            border: 1px solid #ddd;
            border-top: 0;
            padding: 20px;
            background-color: #eee;
            margin-bottom: 20px;
          }
        }           
      }              
    }            
  }
}
