//Reservations
.reservations {
  background-color: blue;
  #main_content {
    .page-header {
      border: 0;
    }
    #inquiery_booking {
      .modal-dialog > .modal-content > .modal-body{
        .alert{
          margin-bottom: 0;
        }
      }
    }            
  }
}
