/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.datepicker
 *= require jquery.ui.core
 *= require jquery.ui.theme
 *= require jquery-ui/blitzer
*/
@import url(http://fonts.googleapis.com/css?family=Lato|Source+Sans+Pro);

$font-family-sans-serif : 'Source Sans Pro', sans-serif;
$font-family-serif : "Lato", "Open Sans", Helvetica, sans-serif;
$font-size-base : 16px;

$navbar-default-bg : #e67e22;
$navbar-default-color : #fff;
$navbar-default-link-color : #ffe6d1;
$navbar-default-link-hover-color : #fff;
$navbar-default-link-active-color : #fff;
$navbar-default-link-active-bg : #d35400;
$navbar-default-link-disabled-color: #eee;
$navbar-default-brand-color : #fff;
$navbar-default-brand-hover-color : #fff;
$navbar-default-toggle-icon-bar-bg : #fff;
$navbar-default-toggle-hover-bg: #d35400;
$navbar-default-toggle-border-color: #d35400;
@import "bootstrap";
@import "bootstrap/theme";
@import "token-input-facebook";
@import "./backend/dashboard";
@import "./backend/properties";
@import "./backend/rates";
