%ul#acc_settings_tab.nav.nav-pills.nav-stacked
  %li.active
    %a{"data-toggle" => "tab", href: "#profile-tab"}
      %i.fa.fa-user
      \  Profile Settings
  %li
    %a{"data-toggle" => "tab", href: "#password-tab"}
      %i.fa.fa-lock
      \  Change Password
  %li
    %a{"data-toggle" => "tab", href: "#messaging"}
      %i.fa.fa-envelope
      \  Message Settings
  %li
    %a{"data-toggle" => "tab", href: "#payments"}
      %i.fa.fa-dollar
      \  Payment Settings
  %li
    %a{"data-toggle" => "tab", href: "#reports"}
      %i.fa.fa-signal
      \  Configure Reports